body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    grid-area: menu;
    background: #40A2E3;
    color: white;
    border: 1px solid black;
}
nav h3{
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.menu{
    display: none;
}
section {
    grid-area: filtro;
    background: #FFF6E9;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    align-items: center;
}
section select{
    padding-right: 50px;
    border-radius: 5px;
    
}
main{
    grid-area: seccion-principal;
    padding: 30px;
    gap: 30px;
    height: max-content;
    background: #BBE2EC;
}
.galeria{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: fit-content;
    
}
.productos {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 3px 5px 2px rgb(105, 101, 101);
    justify-self: center;
}
.productos img {
    width: 80%;   
}
.productos h2 {
    font-weight: bold;
}
.productos p{
    font-size: 15px;
    font-weight: normal;
    margin-top: 0px;
}
.ver {
    display: flex;
    color: white;
    background-color: darkslateblue;
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    align-content: center;
    justify-content: center;
}
.ver a {
    color: white;
    text-decoration: none;
    cursor:pointer;
}
.ver a:hover{
    opacity: 0.6;
}
.paginacion{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-top: 10px;
}
.paginacion a{
    border: 1px solid cornflowerblue;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor:pointer;
    padding: 5px;
    background: white;
}
.paginacion a:hover{
    opacity: 0.6;
}
footer{
    grid-area: pie-de-pagina;
    background: #0D9276;
    color: white;
}
footer p{
    text-align: center;
}
.layout {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: 
    "menu"
    "filtro"
    "seccion-principal"
    "pie-de-pagina";
}
@media (min-width:576px) {
    .layout{
        grid-template-areas: 
        "menu menu menu"
        "filtro seccion-principal seccion-principal"
        "filtro seccion-principal seccion-principal"
        "pie-de-pagina pie-de-pagina pie-de-pagina"
        ;
        grid-template-columns: 20% auto;
        grid-template-rows: auto auto 15%;
    }
    .menu{
        display: flex;
        flex-direction: row;
        text-align: start;
        gap: 20px;
        align-items: center;
    }
    .menu a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        cursor:pointer;
        font-size: 15px;
        text-align: center;
    }
    .menu a:hover{
        opacity: 0.6;
    }
    header{
        display: none;
    }
    .galeria{
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:992px) {
    .layout{
        grid-template-areas: 
        "menu filtro"
        "menu seccion-principal"
        "pie-de-pagina seccion-principal";
        grid-template-columns: 10% auto;
        grid-template-rows: auto auto 15%;
    }
    nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-content: center;
        justify-content:start;
    }
    nav h3{
        text-align: center;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-content: center;
        text-align: start;
        gap: 20px;
    }
    .menu a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        cursor:pointer;
        font-size: 15px;
        text-align: center;
    }
    .menu a:hover{
        opacity: 0.6;
    }
    header{
        display: none;
    }
    .galeria{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    section{
        padding-bottom: 15px;
    }
    section select{
        padding-right: 70%;
    }
}
